
/* Estilos del header */
body{
    margin: 0;
    background-color: #8f57fd;
    font-family: 'Muli', sans-serif;

}
.header{
    background-color: #8f57fd;
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 60px;
    margin-top: 5px;
    margin-left: 10px
}
.header__img{
    margin-right: 30px; 
}
.header__menu{
    margin-right: 30px; 
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;

}
.header__menu:hover ul, ul:hover{
    display: block;
}
.header__menu li{
    margin: 10px 0px;
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;
}
.header__menu--profile{
    margin-right: 50px; 
    margin-top: 10px;
    width: 40px;
    display: flex;
    align-items: center;
}
.header__menu--profile img{
    margin-right: 8px; 
    width: 40px;
}
.header__menu--profile p{
    margin: 0px;
    color: white;
}

/*  estilos del main (buscador) */
.main{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__title{
    font-size: 25px;
    color: white;
}
.input{
    background-color: rgba(255, 255, 255, .3);
    border: 2px solid white;
    border-radius: 25px;
    color: black;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
}
::placeholder{
    color:white;
}

/* estilo h2  */
.Categories__title {
    color:white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}


/*             estilos de carousel                              */
.carousel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carousel-item{
    background-color: aqua;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 500ms all;
    transform-origin: center left; 
    position: relative;
}
.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0 ,0, 0) 100%);
    font-size: 10px;
    color: white;
    opacity: 1;
    transition: 500ms;
    padding: 10px;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*   probando       */
.carousel-item__details p {
    display: block;
    margin-block-start: 2px;
    margin-block-end: 2px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*  estilos del footer  */
.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #AB88FF;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}